{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}
{% block content %}
    {% include 'mainapp/includes/inc_menu.html' %}
    {% if user.is_authenticated %}
        <h1>{{ user.username|title }}</h1>
        <a href = "{% url 'auth:logout' %}">Выйдите</a>
    {% else %}
        <a href = "{% url 'auth:login' %}">Войдите</a> или <a href = "{% url 'auth:login' %}">Зарегистрируйтесь</a>
    {% endif %}
    <h1 class="main">Главная</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} ({{ product.category }})</li>
        {% endfor %}
    </ul>
    {{ user.name|title }} {{ user.surname|title }}
    {% now "d.m.Y" %}
{% endblock %}